.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}

.blogs .box-container .box .imag{
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blogs .box-container .box .imag img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box:hover .imag img{
   transform: scale(1.2); 
}

.blogs .box-container .box .content{
    padding: 2rem;
    background: #222;
}

.blogs .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--main-color);
    line-height: 1.8;
}

.blogs .box-container .box .content p{
    font-size: 1.5rem;
    color: #fff;
    line-height: 2;
}