.footer{
    background: #000;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 0;
}

.footer .box-container .box a{
    font-size: 1.4rem;
    color: #aaa;
    padding: 1rem 0;
    display: block;
}