.home{
    padding: 0;
}

.home .home-slider .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-size: cover !important;
    background-position: center !important;
}

.home .home-slider .box .content{
    text-align: center;
}

.home .home-slider .box .content h3{
    font-size: 5rem;
    color: #fff;
    transition-delay: .2s;
}

.home .home-slider .box .content p{
    font-size: 3rem;
    color: #fff;
    transition-delay: .4s;
    padding: 1rem 0;
}

.home .home-slider .box .content .button{
    transition-delay: .6s;
}

.home .home-slider .box .content > *{
    transform: translateY(2rem);
    opacity: 0;
}

.home .home-slider .swiper-slide-active .content > *{
    transform: translateY(0rem);
    opacity: 1;
}

.home .home-slider .swiper-button-next,
.home .home-slider .swiper-button-prev{
    color: var(--main-color);
}